@model IEnumerable<CongTyBaoVe.Web.Entites.User>

@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="SingUp" asp-controller="User" class="btn btn-primary">Tạo tài khoản mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UserName)
			</td>			

			@if (item.IsAdmin)
			{
				<td>
					Admin
				</td> 
			}
			else
			{
				<td>
					Member
				</td>
			}
			<td>
				<a class="btn btn-danger" onclick="return confirm('Xác nhận xóa tài khoản');" asp-action="Delete" asp-controller="User" asp-route-id="@item.Id">Xóa</a>
			</td>
		</tr>
}
    </tbody>
</table>
