@model IEnumerable<CongTyBaoVe.Web.Entites.ChucVu>

@{
    ViewData["Title"] = "Danh Sách Chức Vụ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVuNhanVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVuNhanVien)
            </td>
			<td>				
				<a asp-action="Edit" asp-controller="ChucVu" asp-route-id="@item.Id" class="btn btn-success">Sửa</a>
				<a  asp-action="Delete" asp-controller="ChucVu" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
			</td>
        </tr>
}
    </tbody>
</table>
